{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost_magnific/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}"/>
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">

</head>
<body {{{ bodyattributes }}}>
<div class="header2">
    <div class="container">
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="#">INICIO</a></li>
                <li><a href="#">CONÓCENOS</a></li>
                <li><a href="#">CURSOS</a></li>
                <li><a href="#">AUTORES Y FACILITADORES</a>
                    <ul class="submenu">
                        <li><a href="#">SubElemnto #1</a></li>
                        <li><a href="#">SubElemnto #2</a></li>
                        <li><a href="#">SubElemnto #3</a></li>
                    </ul>
                </li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
</div>
    <div id="loginone-wrapper">
        <div class="login-content text-center">
            <div class="login-inner-wrapper-2">
                <div class="mb-2">
                <!--<span class="login-icone"><i class="material-icons">school</i></span>-->
                </div>
                <div class="mb-3">
                    {{{ output.course_content_header }}}
                </div>
                {{{ output.main_content }}}
                {{{ output.course_content_footer }}}
            </div>
        </div>
        
    </div>
        {{{ output.standard_top_of_body_html }}}
    <div class="fullwidth-section bg-white">
        <div class="container container-login text-center text-green-2">
            <hr>
            <br>
            <h3 class="">Garantizamos llegar al 100% de los padres de familia, por lo menos con 5 cursos al año.</h3>
            <br>
            <hr>
        </div>
    </div>
    <div class="fullwidth-section img-icon-background">
        <div class="container container-login text-center">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><p class="img-icon-1 center"></p></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4>¿Eres padre de familia?</h4><br>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>                 
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><p class="img-icon-2 center"></p></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4>¿Eres directivo de un colegio?</h4>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>   
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><p class="img-icon-3 center"></p></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4>¿Eres orientador familiar?</h4>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-1 text-center">
            <div class="container">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h3>¡PRUEBA LOS CURSOS GRATIS!</h3>
                    <div class="col-sm-12">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-success btn-block m-t-1"><a class="font-weight-bold">Cursos Gratis</a></button>
                    </div>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="fullwidth-section bg-white">
        <div class="container container-login text-center">
            <div class="container">
                <h3>COSTO DE LICENCIA ANUAL $812.00 PESOS M.N.</h3>
                <p class="font-weight-bold"><em>(IVA INCLUIDO).</em></p>
                <button type="submit" class="btn btn-success m-t-1"><a class="font-weight-bold">Comprar aquí</a></button>
            </div>
            <h1 class="font-weight-bold">TU LICENCIA INCLUYE:</h1>
            <br>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><p class="img-icon-4 center"></p></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4>Acceso Ilimitado</h4><br>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>                
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><p class="img-icon-5 center"></p></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4>32 cursos</h4>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>   
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><p class="img-icon-6 center"></p></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4>On Demand</h4>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12">
                        <p class="text-justify">Aprende lo que quieras, cuando quieras, las veces que quieras en tu tablet, móvil, laptop o equipo de cómputo desde nuestro portal Educar es Padre.</p>
                    </div>                
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12">
                        <p class="text-justify">32 cursos y creciendo. Educar es Padre es una plataforma “viva” con diferentes temas para promover el intercambio de ideas y reflexiones sobre educación familiar y conocimiento de uno mismo.</p>
                    </div>                
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12">
                        <p class="text-justify">Aprende lo que te interese o necesites sin necesidad de conocimientos previos y sin el requerimiento de seguir un programa de estudio preestablecido. Aprende a tu ritmo.</p>
                    </div>                
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><p class="img-icon-7 center"></p></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4>Recursos variados</h4><br>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>                
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><p class="img-icon-8 center"></p></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4>Foro</h4>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>   
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><p class="img-icon-9 center"></p></div>
                        <div class="col-sm-3"></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h4>Mira, escucha, realiza y aprende</h4>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12">
                        <p class="text-justify">Test, lecturas, videos, planes de acción, y un foro por curso. Para los facilitadores certificados se incluye presentaciones con diapositivas que guiarán los contenidos de las sesiones de trabajo y una carta descriptiva para facilitar las dinámicas con los grupos de padres de familia.</p>
                    </div>                
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12">
                        <p class="text-justify">Escribe tus dudas o comentario y expertos te responderán. Revisa las preguntas de otros padres y aprende de las respuestas.</p>
                    </div>                
                </div>
                <div class="col-sm-4 text-center">
                    <div class="col-sm-12">
                        <p class="text-justify">Educar es Padre propone una metodología simple que ayuda a entender las posibilidades que se tienen para crear conciencia y mejorar las relaciones interpersonales con los miembros de la familia a través de la escucha, la comunicación y el trabajo en conjunto, impactando de forma positiva la calidad de vida de quienes participan en el programa.</p>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    <div class="fullwidth-section bg-white">
        <div class="img-icon-background">
            <div class="container container-login text-center">
                <div class="container">
                    <h3>LOS CURSOS SE ENCUENTRAN CLASIFICADOS EN BLOQUES TEMÁTICOS.</h3>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="col-sm-12 text-center">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6"><p class="img-icon-10 center"></p></div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <h4>Desarrollo personal</h4><br>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>                
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="col-sm-12 text-center">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6"><p class="img-icon-11 center"></p></div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <h4>Ser pareja</h4>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>   
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="col-sm-12 text-center">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6"><p class="img-icon-12 center"></p></div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <h4>Estructura familiar</h4>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="col-sm-12">
                            <p class="text-justify">Este bloque te ayudará a descubrir tus potencialidades; de una forma amena, clara y propositiva, pondrás en practica actitudes saludables, para mejorar día con día.</p>
                        </div>                
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="col-sm-12">
                            <p class="text-justify">Es un bloque temático que permite analizar aspectos de la conformación de pareja desde dos enfoques: Individual: donde el participante descubre y reconoce sus cualidades y limitaciones dentro de una relación afectiva, así como el impacto que tiene en la familia. Pareja: los participantes comparten experiencias, creencias, ideas y percepciones afectivas con el fin de enriquecer la relación procurando establecer acuerdos que promuevan su desarrollo personal, de pareja y familiar.</p>
                        </div>                
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="col-sm-12">
                            <p class="text-justify">Es el bloque temático donde se encuentran las diferentes formas de ser y hacer familia, se pretende generar conciencia de la historia familiar y así, comprender mejor nuestra actual forma de actuar, pues los recursos con los que se forja la familia determinarán en gran medida alcanzar el futuro que se anhela.</p>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    <div>
    <div class="fullwidth-section">
        <div class="container container-login text-center">
            <h3>¿DE QUE SE COMPONE CADA CURSO?</h3>
            <br>
        </div>
    </div> 
    <div class="fullwidth-section bg-green">
        <div class="container container-login text-center">            
            <div class="col-sm-6 text-justify text-white">
                <h3>Test</h3>
                <br>
                <p class="font-weight-bold bg-contenido">Herramienta de Autoevaluación que dará un punto de partida en conocimiento, habilidades o actitudes dentro de las relaciones interpersonales, de familia, en pareja o consigo mismo.</p>
            </div>
            <div class="col-sm-6 test"></div>           
        </div>
    </div>
    <div class="fullwidth-section bg-white">
        <div class="container container-login text-center">
            <div class="col-sm-6 video"></div>         
            <div class="col-sm-6 text-justify">
                <h3>Video</h3>
                <br>
                <p class="font-weight-bold bg-contenido">Elemento Audiovisual que dará un enfoque general del tema, aportando conocimientos profundos de manera sencilla, amena y divertida.</p>
            </div>
        </div>
    </div>
    <div class="fullwidth-section bg-blue">
        <div class="container container-login text-center">            
            <div class="col-sm-6 text-justify text-white">
                <h3>Lectura</h3>
                <br>
                <p class="font-weight-bold bg-contenido">Material de Asimilación que une los aprendizajes adquiridos, enriqueciendo conceptos necesarios para abordar con plenitud cada sesión de manera sencilla y comprensible.</p>
            </div>
            <div class="col-sm-6 lectura"></div>           
        </div>
    </div>
    <div class="fullwidth-section bg-white">
        <div class="container container-login text-center">
            <div class="col-sm-6 plan-de-accion"></div>         
            <div class="col-sm-6 text-justify">
                <h3>Plan de acción</h3>
                <br>
                <p class="font-weight-bold bg-contenido">Es una serie de recomendaciones para llevar a la práctica el aprendizaje de cada uno de los cursos.</p>
            </div>            
        </div>
    </div>
    <div class="fullwidth-section bg-blue">
        <div class="container container-login text-center">            
            <div class="col-sm-6 text-justify text-white">
                <h3>Portafolio de evidencias</h3>
                <br>
                <p class="font-weight-bold bg-contenido">Entregables para el facilitador o Institución que permite dar seguimiento a los avances del participante.</p>
            </div>
            <div class="col-sm-6 portafolio-de-evidencias"></div>           
        </div>
    </div>
    <div class="fullwidth-section bg-green">
        <div class="container container-login text-center">
            <div class="col-sm-6 test"></div>             
            <div class="col-sm-6 text-justify text-white">
                <h3>Preguntas frecuentes</h3>
                <br>
                <p class="font-weight-bold bg-contenido">Sección Interactiva con los expertos, es un espacio diseñado para que nuestros usuarios consulten dudas, soliciten consejos y compartan experiencias sobre los temas expuestos en el programa.</p>
            </div>             
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container container-login text-center">
            <h3>¿QUIÉN ERES?</h3>
            <br>
        </div>
    </div>
    <div class="fullwidth-section bg-blue">
        <div class="container container-login text-left text-white">
            <div class="col-sm-12">
                <divc class="col-sm-6">
                    <h3><span><i class="material-icons">school</i></span> ¿Eres padre de familia?</h2>
                    <br>
                </div>
                <divc class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-2 text-center">      
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <h4 class="text-justify text-white">Te apoyamos en la formación de lo que más quieres, demuéstrales tu amor con educación de calidad. Mejora la relación familiar. Educar es Padre la mejor escuela en línea en la que encontrarás el camino hacia una educación familiar de calidad.</h4>
                    <br>
                    <button type="submit" class="btn btn-success m-t-1"><a class="font-weight-bold">Conoce los 32 cursos</a></button>
                </div>
                <div class="col-sm-6"></div>                 
            </div>
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-3 text-center">            
            <div class="col-sm-6">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h4 class="text-justify text-white">Adquiere un programa útil para promover relaciones familiares más satisfactorias por medio de una propuesta clara, sencilla y con herramientas para consultar, reflexionar y generar cambios dentro de la dinámica familiar. Educar es Padre puede ser utilizado como un recurso de autogestión y autocapacitación para ser implementado de manera individual ya que atiende las necesidades, tiempos y posibilidades de cada individuo.</h4>
                    <br>
                    <button type="submit" class="btn btn-success m-t-1"><a class="font-weight-bold">Conoce los 32 cursos</a></button>
                </div>                 
            </div>
            <div class="col-sm-6"></div>
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-4 text-center">  
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <span><i class="material-icons">school</i></span> 
                    <h4 class="text-justify text-white">También puede ser implementado en cualquier espacio donde haya la posibilidad de que se reúna un grupo de padres que sigan las instrucciones y utilicen los recursos que el manual sugiere para su aplicación.</h4>
                    <br>
                    <button type="submit" class="btn btn-success m-t-1"><a class="font-weight-bold">Conoce los 32 cursos</a></button>
                </div>
                <div class="col-sm-6"></div>                 
            </div>     
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-5 text-center">         
            <div class="col-sm-6">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h4 class="text-justify text-white">Educar Es Padre tiene la ventaja de poder trabajarse a través de un facilitador o de forma autogestiva, donde los padres al revisar la guía para padres, leen los documentos que se incluyen y trabajan las actividades con la pareja y/o los hijos o bien con aquellas personas que constituyen la familia completa.</h4>
                    <br>
                    <button type="submit" class="btn btn-success m-t-1"><a class="font-weight-bold">Conoce los 32 cursos</a></button>
                </div>                   
                </div>
            <div class="col-sm-6"></div>
        </div>     
    </div>
    <div class="fullwidth-section bg-purple">
        <div class="container container-login text-left text-white">
            <div class="col-sm-12">
                <divc class="col-sm-6">
                    <h3><span><i class="material-icons">school</i></span> <a class="font-weight-bold">Conoce los 32 cursos</a></h3>
                    <br>
                </div>
                <divc class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-6 text-center">    
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <h4 class="text-justify text-white">El objetivo de Educar es Padre es llegar al 100% de los padres de familia con al menos 4 cursos al año. Para lograrlo se pueden implementar las siguientes modalidades:</h4>
                    <br>
                </div>
                <div class="col-sm-6"></div>                  
            </div>
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-7 text-center">    
            <div class="col-sm-6">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h4 class="text-justify text-white">1. Los directivos y coordinadores de cada uno de los niveles elige cuatro cursos que son obligatorios que los padres de familia tomen a lo largo del ciclo escolar.En las fechas de entrega de calificaciones, los papás deberán entregar las evidencias de los cursos tomados, de tal forma, que los papás que están cumpliendo con tomar los cursos, se les calificará de forma positiva; en caso contrario, los papás que no están cumpliendo con su labor, se les invitará a realizarlo.</h4>
                    <br>
                </div> 
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6">
                   <h4 class="text-justify text-white">2. Capacitar al departamento psicopedagógico de la institución para que ellos puedan impartir de 10 a 15 talleres durante el ciclo escolar, invitando a los padres de familia a asistir.</h4>
                    <br>
                    <h4 class="text-justify text-white">3. Método “Train the Trainers”. A través de la asociación de padres de familia del colegio, grupo Educare certifica y capacita al presidente, secretario y tesorero de la asociación de padres de familia, los cuales a su vez, capacitan a sus vocales quienes tendrán la tarea de capacitar a los padres de familia de su salón.</h4>
                </div>
                <div class="col-sm-6"></div>                  
            </div>
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-8 text-center">              
            <div class="col-lg-12">
                <div class="col-sm-3"></div>  
                <div class="col-sm-6">
                    <h4 class="text-justify text-white">El objetivo de Educar es Padre es llegar al 100% de los padres de familia con al menos 4 cursos al año. Para lograrlo se pueden implementar las siguientes modalidades:</h4>
                    <br>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-success m-t-1"><a class="font-weight-bold">Conoce los 32 cursos</a></button>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
                <div class="col-sm-3"></div>               
            </div>  
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-9 text-center">
            <div class="col-lg-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <h2 class="text-justify">Pasos para la adecuada implementación en una institución educativa.</h2>
                    <br>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="col-lg-12">    
                <div class="col-sm-6">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                        <h4 class="text-justify text-white">1.- Recepción de licencias. Cuando las licencias sean compradas por la institución, el asesor comercial entrega al responsable del programa los códigos de acceso para ser distribuidos entre los padres de familia.</h4>
                        <br>
                        <h4 class="text-justify text-white">2.- Preparar o contactar a un facilitador certificado EeP. Buscar en la nuestra base de datos al facilitador Certificados EeP que más le convenga dando clic aquí o pregunte por los requisitos y pasos para certificar a alguien de su personal dando clic aquí.</h4>
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-6">
                        <h4 class="text-justify text-white">3.- Planeación. El responsable del programa se hará cargo de realizar la planeación y organización de talleres para los padres de familia, en función de los tiempos de la institución y del facilitador.</h4>
                        <br>
                        <h4 class="text-justify text-white">4.- Implementación. De acuerdo con las necesidades de cada espacio y lugar donde se aplicará el programa, las formas de implementación deberán ser respetadas en aras del buen funcionamiento del mismo.</h4>
                    </div>
                    <div class="col-sm-6"></div>                  
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success m-t-1"><a class="font-weight-bold">Conoce los 32 cursos</a></button>
                    
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>
    </div>
    <div class="fullwidth-section bg-green-turquoise">
        <div class="container container-login text-left text-white">
            <div class="col-sm-12">
                <divc class="col-sm-6">
                    <h3><span><i class="material-icons">school</i></span> ¿Eres orientador familiar?</h3>
                    <br>
                </div>
                <divc class="col-sm-6"></div>
            </div>
        </div>
    </div>
    <div class="fullwidth-section">
        <div class="container-fluid-login bg-10 text-center">  
            <div class="col-sm-6">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <h4 class="text-justify text-white">Educar es Padre es la plataforma ideal para ayudar a las familias y personas que atiendes ya que te ofrece recursos actualizados, entretenidos y de fácil aplicación. Conviértete en facilitador certificado EeP y aprovecha las ventajas de la plataforma como:</h4>
                    <br>
                    <h4 class="text-justify text-white">Facilitador Certificado independiente</h4>
                    <h4 class="text-justify text-white">Promueve los cursos en empresas, escuelas, grupos de vecinos, familiares o comunitarios. Puedes obtener ingresos por el evento y además una cuota de bonificación si se inscriben los usuarios a la plataforma. Además podrán encontrar tus datos en la plataforma como uno de nuestros facilitadores certificados.</h4>                   
                    <br>
                    <h4 class="text-justify text-white">Facilitador Certificado mixto</h4>
                    <h4 class="text-justify text-white">Pertenece a un colegio, quién lo certificó y donde imparte los talleres a los padres de familia que ya cuentan con sus licencias. Al pagar su inscripción anual logra obtener:</h4>
                    <h4 class="text-justify text-white">a) una clave con la que es bonificado por cada inscripción que menciona su clave.</h4>
                    <h4 class="text-justify text-white">b) aparece en la plataforma como facilitador certificado para ser contactado por otras instituciones.</h4>
                    <br>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6">                  
                    <h4 class="text-justify text-white">Facilitador Certificado in situ</h4>
                    <h4 class="text-justify text-white">Pertenece a un colegio, quién lo certificó y donde imparte los talleres a los padres de familia que ya cuentan con sus licencias. Aparece en la plataforma y puede cobrar por sus servicios en otras instituciones sin embargo al no pagar su inscripción anual a la plataforma carece de una clave para promover el programa y por lo tanto beneficiarse de las bonificaciones.</h4>
                    <br>
                    <h4 class="text-justify text-white">Regístrate, prueba gratuitamente el programa por 30 días y consulta los precios de las licencias de Facilitator Certificado.</h4>
                    <br>
                    <button type="submit" class="btn btn-success m-t-1"><a class="font-weight-bold">Conoce los 32 cursos</a></button>
                </div>
                <div class="col-sm-6"></div>                 
            </div>     
        </div>
    </div>
    <!--Footer-->
    <div class="bloc bgc-indigo-dye d-bloc" id="bloc-4">
	<footer id="ac-globalfooter" class="no-js" lang="es-MX" data-analytics-region="global footer" role="contentinfo" aria-labelledby="ac-gf-label">
		<div class="ac-gf-content">
			<nav class="ac-gf-directory with-5-columns" aria-label="" role="navigation">
	<!--googleoff: all-->
	<div class="ac-gf-directory-column">
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-products">
		<h3 class="ac-gf-directory-column-section-title"><i class="fa fa-child fa-2x" aria-hidden="true"></i> Empresa&nbsp;</h3>
	</label>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="empresa.html" target="_parent">-¿Quiénes somos?</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="empresa.html#bloc-alianzas" target="_parent">-Alianzas</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="empresa.html#bloc-30" target="_parent">-Nuestras Empresas</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="empresa.html#bloc-vision" target="_parent">-Visión, Misión y Valores</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="empresa.html#bloc-presencia" target="_parent">-Presencia Internacional</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="empresa.html#bloc-testimoniales" target="_parent">-Testimoniales </a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://www.portalge.grupoeducare.com/dist_autorizados.aspx" target="new">-Distribuidores autorizados </a></li>
			</ul>
		</div>
	</div>
	<div class="ac-gf-directory-column">
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-storeservices">
		<h3 class="ac-gf-directory-column-section-title"><i class="fa fa-globe fa-2x" aria-hidden="true"></i> Sitios&nbsp;</h3>
	</label>
			<a href="#ac-gf-directory-column-section-state-storeservices" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
				<span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
			</a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
				<span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
			</a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://ondemand.grupoeducare.com/index.php" target="new">-On demand</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://www.edutype.com/website/" target="new">-Edutype</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://pdp.grupoeducare.com/" target="new">-PDP</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://huevokids.com/" target="new">-Huevokids</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://www.swo.educaredigital.com/" target="new">-SwOnline</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://educarespadre.com/" target="new">-Educar es Padre</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://ecampuseducare.com/" target="new">-e-Campus</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://www.certificacionestics.com/" target="new">-Diagnósticos Educativos</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://www.testingprogram.com.mx/" target="new">-Testing Program</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://portalge.grupoeducare.com/" target="new">-Portal GED</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://hubbleged.educaredigital.com/recursos_distribuidores/" target="new">-Zona de Recursos</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="">-e-commerce TODO</li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://nimbusged.com/" target="new">-Nimbus GED</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://pitcher.com.mx/" target="new">-Pitcher</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="" target="">-Plataforma de Administración y Mapeo de Evidencias</a></li>
			</ul>
		</div>
	</div>
	<div class="ac-gf-directory-column">		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-education">
								<h3 class="ac-gf-directory-column-section-title"><i class="fa fa-desktop fa-2x" aria-hidden="true"></i> Síguenos&nbsp;</h3>
							</label>
			<a href="#ac-gf-directory-column-section-state-education" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
				<span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
			</a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
				<span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
			</a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://twitter.com/GrupoEducare" target="new"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://www.facebook.com/GrupoEducare" target="new"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://www.youtube.com/user/GrupoEducare" target="new"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://www.instagram.com/grupoeducare/" target="new"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram </a></li>
			</ul>
		</div>
	</div>
	<div class="ac-gf-directory-column">
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-accounts">
								<h3 class="ac-gf-directory-column-section-title"><i class="fa fa-comments fa-2x" aria-hidden="true"></i> Asistencia técnica&nbsp;</h3>
							</label>
			<a href="#ac-gf-directory-column-section-state-accounts" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
				<span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
			</a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
				<span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
			</a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://soporte.grupoeducare.com/main/" target="new">-Soporte</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="mailto:soporte@grupoeducare.com">-Contacto</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://ecampuseducare.com/" target="new">-Capacitación</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="">-Blog Chanel Update</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="">-Blog Prensa</a></li>
			</ul>
		</div>
	</div>
	<div class="ac-gf-directory-column">
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-colabora-accounts">
								<h3 class="ac-gf-directory-column-section-title"><i class="fa fa-users fa-2x" aria-hidden="true"></i> Colabora con nosotros&nbsp;</h3>
							</label>
			<a href="#ac-gf-directory-column-section-colabora-accounts" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
				<span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
			</a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
				<span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
			</a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://grupoeducare.com/colabora#bolsa" target="new">-Bolsa de trabajo</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://grupoeducare.com/colabora#cont" target="new">-Oportunidad para Freelancer</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://grupoeducare.com/colabora#dist" target="new">-Oportunidad de distribución</a></li>
			</ul>
		</div>
	</div>
        </nav>
		</div>
	</footer>
    </div>
    <div class="bloc l-bloc bgc-white" id="bloc-5">
        <div class="row">
                <div class="col-sm-12">
                    <br>
                    <h6 class="mg-md text-center tc-black">
                        ©Grupo Educare S.A. de C.V. | Términos y condiciones. | Aviso de privacidad.
                    </h6>
                </div>
            </div>
    </div>    
</body>
</html>
{{#js}}
    require(['theme_boost/loader']);
{{/js}}
